<html lang="en">

<head>
    <title>trike</title>
</head>

<body>

<form method="POST">
    <label>
        <input name="ticket_title">
        <textarea name="ticket_description"></textarea>
    </label>

    <input type="submit" name="Submit">

    {% csrf_token %}
</form>

<h1>List of bugs</h1>

<table id="id_tickets_table">
    {% for ticket in tickets %}
        <tr>
            <td>
                <a href="{% url 'ticket_details' ticket.id %}">{{ ticket.title }}</a>
            </td>
        </tr>
    {% endfor %}
</table>

</body>

</html>