<html lang="en">

<head>
    <title>trike</title>
</head>

<body>

<h1>List of bugs and features</h1>

<a id="id_new_ticket" href="{% url 'new-ticket' %}">
    <button>Create a new ticket</button>
</a>

<table id="id_tickets_table">
    {% for ticket in tickets %}
        <tr>
            <td id="id_kind">{{ ticket.kind }}</td>
            <td>
                <a href="{% url 'ticket-detail' ticket.id %}">
                    {{ ticket.title }}
                </a>
            </td>
            <td id="id_status">{{ ticket.status }}</td>
        </tr>
    {% endfor %}
</table>

</body>

</html>