<html lang="en">

<head>
    <title>trike</title>
</head>

<body>

    <h1 id="id_title">{{ ticket.title }}</h1>

    <p id="id_kind">{{ ticket.kind }}</p>

    <p id="id_description">{{ ticket.description }}</p>

    <p id="id_status">{{ ticket.status }}</p>

    <form action="{% url 'ticket_status' ticket.id %}" method="post">
        <button id="id_status_switch"
                type="submit"
                name="status"
                value="{{ next_status }}"
        >
            Change status
        </button>
        {% csrf_token %}
    </form>

</body>

</html>